<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web CV</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="static/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="static/main.css?ver=1.1.0" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">My Web CV</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#Projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#courses">Courses</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/assets/images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/assets/images/Abel.jpg" alt="Image"/></a></div>
          <div class="h2 title">Abel Arrouj</div>
          <p class="category text-white">Project Management, Logistics, Robotics, Gas Detection, Automation, Oil & Gas </p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contact Me</a><a class="btn btn-primary" href="https://drive.google.com/file/d/10IQ-IstQsEOCHdkAiDSgvrOq__4wQO9l/view?usp=sharing" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/abelarrouj/" rel="tooltip" title="Let's connect on Linkedin"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>I'am a Project Manager who's recently got a knack for coding. <a href="https://github.com/abelone91" target="_blank">Have a look to what i am up to, on github.</a></p>
            <p>In a step closer to realising my goal of working in the IT domain, i am now supporting a software product development team. The team consists of several developers working towards a software solution to be used to interact between Autostore, robotic piece picking technology and conveyor systems. </p>
            I am also project manager for AutoStore deliveries for Element Logic.
            In my previous roles i have worked with: Designing gas detection solutions, drawing gas detection controllers using EPlan, Analogue , digital and bus signals, low-voltage electircal wirting, in addition to managing multiple projects across the Nordics.
            Academic background in: Project management, Petroleum technology, Industrial economics, Electro engineering.
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">30</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">Abel.Arrouj@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+47 96 86 88 84</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Teiealleen 12, Nannestad</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">Norwegian, English, French, Berber, Arabic</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Python</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div><span class="progress-value">20%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Project Management</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div><span class="progress-value">50%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div><span class="progress-value">10%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Electrical Wiring</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div><span class="progress-value">30%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Oil & Gas</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div><span class="progress-value">30%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Eplan</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div><span class="progress-value">50%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="Projects">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="Projects">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://github.com/abelone91/Y2B_to_Spot">
                  <figure class="cc-effect"><img src="static/assets/images/Spotify.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Y2B_to_Spot</div>
                      <p>APIs</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href=https://github.com/abelone91/Phone-nr-scraper->
                  <figure class="cc-effect"><img src="static/assets/images/webscraping.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4"> Web Scraper for Norwegian Phone nr</div>
                      <p>Web Scraping</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="static/assets/images/robotarm.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4"> Robot Arm & Open CV (Underway)</div>
                      <p>Python & Arduino</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://github.com/abelone91/Muzifun">
                  <figure class="cc-effect"><img src="static/assets/images/webdev.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Fun Website for my cats </div>
                      <p>Web Development</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="static/assets/images/tweets.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Tweets sentiment Jypiter/API (Underway)</div>
                      <p>Data Gathering & sorting</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Mar 2022 - Present</p>
            <figure class="cc-effect"><img src="static/assets/images/Elogo.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Project Manager</div>
            <p>• Part of the product software development team for <a href="https://www.elementlogic.no/losninger-og-tjenester/robotisert-plukkelosning-fra-element-logic/" target="_blank">eOperator. </a> </p>
            <p>• Overall responsibility for the project economy. • ensures close follow-up and management of resources. • Part of a team that deliverers one of the most effecient warehouse optimization solutions. <a href="https://www.youtube.com/watch?v=NpfUC7qHqWc&ab_channel=ElementLogic" target="_blank">Check out Autostore here. </a> </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Jan 2019 - Feb 2022</p>
            <figure class="cc-effect"><img src="static/assets/images/Dlogo.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Project Manager/Engineer</div>
            <p> • Solve Fixed Gas Detection related challenges according to technical customer Specifications - Design of Gas Detection System
• Draughtsman: EPLAN Electrical Wiring and General Arrangements
• Responsible for Internal and external project documentation
• Internal follow-up with planning and production, to ensure on-time delivery to the customer
• Daily contact with the production facilities, engineering department, customer, and service technicians
• Engineering solution. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Mar 2018 - jan 2019</p>
            <figure class="cc-effect"><img src="static/assets/images/Dlogo.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Project Assistant</div>
            <p>• The project manager's right hand, responsible for planning, coordination and follow-up of project activities
• Map and optimize processes at all Dräger's departments in FI, SE,NO, DK.
• Support and follow up interdisciplinary teams across all departments in Dräger.
• Responsible for project documentation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
       <div class="section" id="courses">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Courses</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2022 - 2022 </p>
            <figure class="cc-effect"><img src="static/assets/images/udemy.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">100 Days of Code: The Complete Python Pro Bootcamp for 2022</div>
            <p class="category">Udemy</p>
            <p>In order to solidify my understanding of Python's basics, i enrolled in yet another course. I aim to complete the course by September . <a href="https://www.udemy.com/share/103IHM3@MdIEyf8UmSQiNcAPVETUp-Kpcn7qmC1SYFBtXap19wTPpY0x9LEk_Xl7fFLPSeqa4w==/" target="_blank">Course Description</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2021 - 2021 </p>
            <figure class="cc-effect"><img src="static/assets/images/udemy.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Complete Python Developer in 2021</div>
            <p class="category">Udemy</p>
            <p>While using services online, or applications, i always wondered why certain functionalities weren't available. I became interested in understanding the building blocks of software, to one day maybe be able to build these functionalities that i thought were missing myself. This was the first step. <a href="https://www.udemy.com/share/101URo3@BzK4MWJFgXbKnoscDqSKNa2zehG6Jx8qzW_Ukc0OweJnWg1YWbm7xqsALClTeSzTpg==/" target="_blank">Course Description</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2021 - 2021</p>
            <figure class="cc-effect"><img src="static/assets/images/udemy.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Automate the Boring Stuff with Python Programming</div>
            <p class="category">Udemy</p>
            <p><a href="https://www.udemy.com/share/101WeW3@WImp2isI-FYx9tq2FFdo02yraqcL0CBMeosNdlrFN8Z0Xb3QFnelWh6Jl0kZdNofUQ==/" target="_blank">Course Description</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2017</p>
            <figure class="cc-effect"><img src="static/assets/images/prince2.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">PRINCE2 Foundation</div>
            <p class="category">AXELOS</p>
            <p>The Foundation Level certification introduces the PRINCE2 method and aims to confirm that you know and understand the PRINCE2 method well enough to be able to work effectively with, or as a member of, a project management team working within an environment supporting PRINCE2. I am now taking the AGILE practitioner course. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020 - 2020</p>
            <figure class="cc-effect"><img src="static/assets/images/eplan.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Eplan Course</div>
            <p class="category">Eplan</p>
            <p><a href="https://solutions.eplan.no/eplan_kurs2020" target="_blank">Course Description (in Norwegian)</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2021 - PRESENT </p>
            <figure class="cc-effect"><img src="static/assets/images/oslometlogo.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor's Degree in Electronics</div>
            <p class="category">OsloMet</p>
            <p>Driven by curiosity, i want to learn about the interaction between software and hardware via ana academic platform.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2014 - 2016</p>
            <figure class="cc-effect"><img src="static/assets/images/uislogo.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Master’s in Industrial economics</div>
            <p class="category">University of Stavanger</p>
            <p>To appease the generalist in me, i decided to pursue a degree that combined multiple disciplines: Economics, Project managment, risk assessment, in addtion to the Drilling technology.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2011 - 2014</p>
            <figure class="cc-effect"><img src="static/assets/images/uislogo.jpg" alt="Image"/>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor's Degree</div>
            <p class="category">University of Stavanger</p>
            <p>Coming out of high school, i knew maths and physics were the subjects i most wanted to work with and apply in a professional setting. Where better to start than Norway's largest industry, oil & gas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('static/assets/images/staticmap.png')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="submit_form" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="email" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">Teiealleen 12, 2030 Nannestad</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+47 96 86 88 84</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>Abel.Arrouj@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">

      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
      </div>
    </footer>
    <script src="static/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="static/popper.min.js?ver=1.1.0"></script>
    <script src="static/bootstrap.min.js?ver=1.1.0" </script>
    <script src="static/now-ui-kit.js?ver=1.1.0"></script>
    <script src="static/aos.js?ver=1.1.0"></script>
    <script src="static/main.js?ver=1.1.0"></script>
  </body>
</html>